
    <div class="row-fluid">
        <div class="span6">
            <h4> Modified</h4>
            <%= form_for(base, :url => apply_update_form_conflict_case_path(base) , :method => :put, :html => {:class => 'form-horizontal'} ) do |f| %>
                <fieldset>
                    <% @fields.each do |field| %>
                        <% if field["kind"] == 'select_one' %>
                            <div class="control-group">
                                <%= f.label "#{field["name"]}",:class => "control-label" %>
                                <div class="controls">
                                    <select name="properties[<%= field["id"]%>]">
                                        <% field["options"].each do |op| %>
                                            <% if op["id"]==get_field_value(f.object.backup.data["properties"],field, "id")  %>
                                                <option value="<%= op["id"] %>" selected>
                                                <%= op["label"] %>
                                            <% else %>
                                                <option value="<%= op["id"] %>">
                                                <%= op["label"] %>
                                            <%end%>
                                            </option>
                                        <% end %>
                                    </select>
                                </div>
                            </div>
                        <% end %>
                    <% end %>

                    <div class="control-group">
                        <%= f.label "Location",:class => "control-label" %>
                        <div class="controls">
                            <%= f.select(:location_id, options_for_select(@locations.collect {|p| [p.name,p.id] }, f.object.backup.data["location_id"])) %>
                        </div>
                    </div>   
                    
                    <!-- Submit -->
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-success">Approve to update</button>
                            <%=link_to "Cancel", conflict_cases_path, :class => "btn" %>
                        </div>
                    </div>
                </fieldset>
            <% end %>
        </div>
        <div class="span6">
            <h4> Original</h4>
            <%= form_for(base, :url => "#" , :method => :put, :html => {:class => 'form-horizontal'} ) do |f| %>
                <fieldset>                
                    <% @fields.each do |field| %>
                        <% if field["kind"] == 'select_one' %>
                            <div class="control-group">
                                <%= f.label "#{field["name"]}",:class => "control-label" %>
                                <div class="controls">
                                    <select name="properties[<%= field["id"]%>]">
                                        <% field["options"].each do |op| %>
                                            <% if op["id"]==f.object.get_properties_value("id",field) %>
                                                <option value="<%= op["id"] %>" selected>
                                                <%= op["label"] %>
                                            <% else %>
                                                <option value="<%= op["id"] %>">
                                                <%= op["label"] %>
                                            <%end%>
                                            </option>
                                        <% end %>
                                    </select>
                                </div>
                            </div>
                        <% end %>
                    <% end %>

                    <div class="control-group">
                        <%= f.label "Location",:class => "control-label" %>
                        <div class="controls">
                            <%= f.select(:location_id, options_for_select(@locations.collect {|p| [p.name,p.id] }, f.object.location_id)) %>
                        </div>
                    </div> 
                </fieldset>
            <% end %>
        </div>
    </div>
