<% if conflict_case.errors.any? %>
    <div class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div id="error_explanation">
            <h4><%= pluralize(conflict_case.errors.count, "error") %> prohibited this post from being saved:</h4>
         
            <ul>
            <% conflict_case.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    </div>
<% end %>
<%= form_for(conflict_case, :url => {action: action} , :html => {:class => 'form-horizontal'} ) do |f| %>    
    <fieldset>                
        <div class="control-group">
            <%= f.label "Conflict Type",:class => "control-label" %>
            <div class="controls">
                <%= f.select(:conflict_type, options_for_select(field_by_code(@fields, "con_type").collect {|p| [p["label"],p["id"]] }, f.object.conflict_type)) %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label "Conflict State",:class => "control-label" %>
            <div class="controls">
                <%= f.select(:conflict_state, options_for_select(field_by_code(@fields, "con_state").collect {|p| [p["label"],p["id"]] }, f.object.conflict_state)) %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label "Conflict Intensity",:class => "control-label" %>
            <div class="controls">
                <%= f.select(:conflict_intensity, options_for_select(field_by_code(@fields, "con_intensity").collect {|p| [p["label"],p["id"]] }, f.object.conflict_intensity)) %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label "Location",:class => "control-label" %>
            <div class="controls">
                <%= f.select(:location_id, options_for_select(@locations.collect {|p| [p.name,p.id] }, f.object.location_id)) %>
            </div>
        </div>
        
        <!-- Submit -->
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-success">Save</button>
                <%=link_to "Cancel", conflict_cases_path, :class => "btn" %>
            </div>
        </div>
    </fieldset>
<% end %>