
<div class="btn-toolbar row-fluid">
  <div class='span8'>	
	<form action=<%= conflict_cases_path() %>  style="margin-bottom:0px;margin-top:10px;" method="GET">
	    <div class="row-fluid">
	    	<div class="span4" style="width:290px;">
	    		<div class="control-group">
	    			<label class="control-label span2" style="text-align:right;padding-right:10px;">From</label>
	    			<div class="controls">
	    				<input type="text" class="datepicker" value="<%= @from %>" name="from">
	    			</div>
	    		</div>
	    	</div>
	    	<div class="span4" style="width:260px;">
	    		<div class="control-group">
	    			<label class="control-label span2" style="text-align:right;padding-right:10px;">To</label>
	    			<div class="controls">
	    				<input type="text" class="datepicker" value="<%= @to %>" name="to">\
	    			</div>
	    		</div>
	    	</div>
	    	<div class="span1" style="margin-left:10px;">
	    		<button class="btn btn-info">Go</button>
	    	</div>
	    </div>	    	 
	</form>
</div>
<div class='span4'>
	<div class="btn-group pull-right btn-toolbar" >
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			<i class="icon-download"></i> Export <span class="caret"></span>
		</a>
		<%
			export_params = params.slice(:from, :to)
		%>

		<ul class="dropdown-menu">
			<li><%= link_to "as KML", export_as_kml_conflict_cases_path(export_params), :title => 'Kml File version 2.1' %>
			<li><%= link_to "as Shapefile", export_as_shp_conflict_cases_path(export_params), :title => 'All related shapefiles are zipped' %></li>
		</ul>
	</div> 
	<div class="pull-right btn-toolbar" style="margin-right:10px;">
		<a class="btn" href="<%= failed_messages_conflict_cases_path %>"><i class="icon-remove"></i> Failed Messages</a>
	</div>
</div>

</div>
<% @is_updated = false %>
<% @is_deleted = false %>

<div>
	<!--<table class="table table-bordered table-striped">-->
    <table class="table table-condensed table-hover">
	    <thead>
		    <tr>
			    <th>Conflict type</th>
			    <th>Conflict Intensity</th>
			    <th>Conflict state</th>
			    <th>Location</th>
			    <th>Phone Number</th>
			    <th>Date sent</th>
			    <th style="width: 36px;"></th>
		    </tr>
	    </thead>
	    <tbody>
	    <% @conflict_cases.each do |l| %>	
	    <% class_name = "" %>
	    <% if l.is_deleted %>
	    	<% class_name = "deleted" %>
	    <% elsif l.is_updated %>
	    	<% class_name = "updated" %>
	    <% end %>			    
		    <tr class=<%= class_name %>>
			    <td><%= l.conflict_type_description %></td>
			    <td><%= l.conflict_intensity_description %></td>
			    <td><%= l.conflict_state_description %></td>
			    <td><%= l.location.name %>(<%= l.location.code %>)</td>
			    <td style="width: 145px;">
					<a class="" data-toggle="modal" href="#reporterModal" onclick="showReporterInfo('<%= l.reporter.first_name %>', '<%= l.reporter.last_name %>','<%= l.reporter.sex %>','<%= l.reporter.date_of_birth %>','<%= l.reporter.cast_ethnicity %>','<%= l.reporter.phone_number %>','<%= l.reporter.address %>');"><%= l.reporter.phone_number %></a> 
				</td>
			    <td><%= l.created_at %>
			    <td class="action">
			    <% if l.is_deleted %>
			    	<% @is_deleted = true %>		    	
			    	<div class="btn-group pull-right">
			    		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							</i> <%= l.backup.user.first_name || "UNKNOWN" %> <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
			    		<% if l.backup.user.id != current_user.id %>						
							
								<li><%= link_to " Approve to delete", approve_delete_conflict_case_path(l), :method => :get, :class => 'icon-ok-circle' %>
								<li class="divider"></li>
								<li><%= link_to " Cancel delete", cancel_delete_conflict_case_path(l), :method => :get, :class => 'icon-ban-circle' %></li>								
						<% else %>
							<li><%= link_to " Cancel delete", cancel_delete_conflict_case_path(l), :method => :get, :class => 'icon-ban-circle' %></li>
						<% end %>
						</ul>
					</div>
				<% elsif l.is_updated %>
					<% @is_updated = true %>
			    	<div class="btn-group pull-right">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							</i> <%= l.backup.user.first_name || "UNKNOWN" %> <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<% if l.backup.user.id != current_user.id %>							
								<li><%= link_to " View the difference", view_difference_conflict_case_path(l), :method => :get, :class => 'icon-eye-open' %>
								<li class="divider"></li>
								<li><%= link_to " Approve to update", approve_update_conflict_case_path(l), :method => :get, :class => 'icon-ok-circle' %>
								<li class="divider"></li>
								<li><%= link_to " Cancel update", cancel_update_conflict_case_path(l), :method => :get, :class => 'icon-ban-circle' %></li>		
							<% else %>
								<li><%= link_to " Cancel update", cancel_update_conflict_case_path(l), :method => :get, :class => 'icon-ban-circle' %></li>
							<% end %>
						</ul>
					</div>		
				<% else %>						
				    <%= link_to raw("<i class='icon-pencil'></i>"), edit_conflict_case_path(l), :method => :get %>
				    <%= link_to raw("<i class='icon-remove'></i>"), conflict_case_path(l), :method => :delete, :confirm => "Are you sure to delete this case ?" %>
				    <% if l.message %>
				    	<a class="" data-toggle="modal" href="#messageModal" onclick="showMessageInfo('<%= l.message.country %>', '<%= l.message.carrier %>','<%= l.message.channel %>','<%= l.message.from %>','<%= l.message.to %>','<%= l.message.body %>','<%= l.message.reply %>');"><i class='icon-envelope'></i></a>
				    <% end %> 
			    <% end %>	
			    </td>
		    </tr>
		<% end %>
		</tbody>
    </table>
</div>

<% if @is_deleted %>
	<div class="row-fluid"  style="margin:5px">
		<div class="span1 img-rounded deleted_ex">
	    	&nbsp;
	    </div>
	    <div class="span4" style="padding-top:5px">
	        Record is marked as Deleted
	    </div>
	</div>
<% end %>
<% if @is_updated %>
	<div class="row-fluid"  style="margin:5px">
		<div class="span1 img-rounded updated_ex">
	    	&nbsp;
	    </div>
	    <div class="span4" style="padding-top:5px">
	        Record is marked as Updated
	    </div>
	</div>
<% end %>
<div>
	<span class="badge" style="padding:5px;margin-right:5px;">Display record : <%= @paging.size %> / <%= @paging.total_entries %>
	</span>
</div>
<%= will_paginate @paging, renderer: BootstrapPagination::Rails %>
<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Delete Confirmation</h3>
	</div>
	<div class="modal-body">
	    <p class="error-text">Are you sure you want to delete the case?</p>
	</div>
	<div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
	    <button class="btn btn-danger" data-dismiss="modal">Delete</button>
    </div>
</div>

<div id="reporterModal" class="modal hide fade">
    <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3> Reporter </h3>
    </div>
	<div class="modal-body" id="reporter_case">
	    <fieldset>                
	        <!-- Name -->
	        <div class="control-group">
	            <label for="reporter_First Name" style="text-align:right; padding-right:10px" class="control-label span2">First name</label>
	            <div class="controls" id="first_name">		                
	            </div>
	        </div>

	        <div class="control-group">
	            <label for="reporter_Last Name" style="text-align:right; padding-right:10px" class="control-label span2">Last name</label>
	            <div class="controls" id="last_name">
	            </div>
	        </div>

	        <div class="control-group">
	            <label for="reporter_Gender" style="text-align:right; padding-right:10px" class="control-label span2">Gender</label>
	            <div class="controls" id="gender">
	            </div>
	        </div>
	        
	        <div class="control-group">
	            <label for="reporter_Date of birth" style="text-align:right; padding-right:10px" class="control-label span2">Date of birth</label>
	            <div class="controls" id="dob">
	            </div>
	        </div>        

	        <div class="control-group">
	            <label for="reporter_Cast/Ethnicity" style="text-align:right; padding-right:10px" class="control-label span2">Cast/ethnicity</label>
	            <div class="controls" id="cast_ethnicity">
	            </div>
	        </div>

	        <div class="control-group">
	            <label for="reporter_Phone Number" style="text-align:right; padding-right:10px" class="control-label span2">Phone number</label>
	            <div class="controls"  id="phone_number">
	            </div>
	        </div>

	        <div class="control-group">
	            <label for="reporter_Address" style="text-align:right; padding-right:10px" class="control-label span2">Address</label>
	            <div class="controls" id="address">
	            </div>
	        </div>
	      
	    </fieldset>
	</div>
	<div class="modal-footer">
		<a href="#" data-dismiss="modal" class="btn btn-primary">Close</a>
	</div>
</div>


<div id="messageModal" class="modal hide fade">
    <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3> Message detail </h3>
    </div>
	<div class="modal-body" id="reporter_case">
	    <fieldset>                
	        <!-- Name -->
	        <div class="control-group">
	            <label for="reporter_First Name" style="text-align:right; padding-right:10px" class="control-label span2">Country code</label>
	            <div class="controls" id="country">		                
	            </div>
	        </div>

	        <div class="control-group">
	            <label for="reporter_Last Name" style="text-align:right; padding-right:10px" class="control-label span2">Carrier</label>
	            <div class="controls" id="carrier">
	            </div>
	        </div>

	        <div class="control-group">
	            <label for="reporter_Gender" style="text-align:right; padding-right:10px" class="control-label span2">Channel</label>
	            <div class="controls" id="channel">
	            </div>
	        </div>
	        
	        <div class="control-group">
	            <label for="reporter_Date of birth" style="text-align:right; padding-right:10px" class="control-label span2">From</label>
	            <div class="controls" id="from">
	            </div>
	        </div>        

	        <div class="control-group">
	            <label for="reporter_Cast/Ethnicity" style="text-align:right; padding-right:10px" class="control-label span2">To</label>
	            <div class="controls" id="to">
	            </div>
	        </div>

	        <div class="control-group">
	            <label for="reporter_Phone Number" style="text-align:right; padding-right:10px" class="control-label span2">Message text</label>
	            <div class="controls"  id="message_text">
	            </div>
	        </div>

	        <div class="control-group">
	            <label for="reporter_Address" style="text-align:right; padding-right:10px" class="control-label span2">Message reply</label>
	            <div class="controls" id="message_reply">
	            </div>
	        </div>
	      
	    </fieldset>
	</div>
	<div class="modal-footer">
		<a href="#" data-dismiss="modal" class="btn btn-primary">Close</a>
	</div>
</div>

<script>
    $('.datepicker').datepicker({format: 'mm-dd-yyyy'})
</script>
