    <div class="btn-toolbar">
    	<form class="form-search input-append" action=<%= users_path %>>
		    <div class="input-append" method="#">
		    	<input type="text" class="span4 search-query" placeholder="Search First name, Last name, Phone number ..." id="query" name="query" value=<%= @query %>>
		    	<button type="submit" class="btn">Search</button>
		    </div>
		</form>
    	<%= link_to "Add New User", new_user_path, :method => :get, :class => 'btn btn-primary to-right' %>	    
    </div>
    <div >
    	<!--<table class="table table-bordered table-striped">-->
	    <table class="table table-condensed table-hover">
		    <thead>
			    <tr>
				    <th>Full Name</th>
				    <th>Email</th>
				    <th>Gender</th>
				    <th>Caste/Ethnicity</th>
				    <th>Phone Number</th>
				    <th>Role</th>
				    <th style="width: 36px;"></th>
			    </tr>
		    </thead>
		    <tbody>
		    <% @users.each do |user| %>			    
			    <tr>
				    <td><%= (user.first_name.nil? ? "" : user.first_name) + " " + (user.last_name.nil? ? "" : user.last_name) %></td>
				    <td><%= user.email %></td>
				    <td><%= user.sex %></td>
				    <td><%= user.cast_ethnicity %></td>
				    <td><%= user.phone_number %></td>
				    <td><%= user.role.name %></td>
				    <td>
					    <% if(is_super_admin? current_user or (is_admin? current_user and is_admin? user)) %>
					    	<%= link_to raw("<i class='icon-pencil'></i>"), edit_user_path(user), :method => :get %>
					    	<%= link_to raw("<i class='icon-remove'></i>"), user_path(user), :method => :delete, :confirm => "Are you sure to delete #{user.first_name} #{user.last_name}?" %>
					    <% end %>
				    </td>
			    </tr>			    
			<% end %>
			</tbody>
	    </table>
    </div>
    <div>
    	<span class="badge" style="padding:5px;margin-right:5px;">Display record : <%= @users.size %> / <%= @users.total_entries %>
    	</span>
    </div>
    
    <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
    <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">Delete Confirmation</h3>
		</div>
		<div class="modal-body">
		    <p class="error-text">Are you sure you want to delete the user?</p>
		</div>
		<div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		    <button class="btn btn-danger" data-dismiss="modal">Delete</button>
	    </div>
    </div>