<% if alert.errors.any? %>
    <div class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div id="error_explanation">
            <h4><%= pluralize(alert.errors.count, "error") %> prohibited this post from being saved:</h4>
         
            <ul>
            <% alert.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    </div>
<% end %>
<%= form_for(alert, :url => {action: action} , :html => {:class => 'form-horizontal'} ) do |f| %>    
    <fieldset>   
        <div class="control-group">
            <%= f.label "Alert name",:class => "control-label" %>
            <div class="controls">
                <%= f.text_field :name, :class =>"input-xlarge", :required => "required" %>
            </div>

        </div>
        <div>
            <label>If total case of:</label>
        </div>
        
        <div class="well">
            <div class="control-group" id="conditions" style="margin-bottom:0px">                
                <div id="condition1" class="controls navbar-inner" style="padding-top:10px; margin-bottom:20px">
                    <div class="row-fluid">
                        <div class="span4">
                            <select class="input-block-level" id="conflict-info1" name="type[]">
                            </select>
                            
                        </div>
                        <div class="span1" style="min-width:70px;padding-top:5px;">
                            is equal to
                        </div>
                        <div class="span5" style="min-width:330px">
                            <select class="input-block-level" id="select-item1" name="item[]">
                            </select>
                        </div>
                        <div class="span1">
                            <a href="javascript:void(0)" class="btn btn-danger" id="rmbtn1" refdata="1" onclick="removeCondition(this)"><i class='icon-minus-sign'></i></a>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="control-group">
                <div class="controls">
                    <a href="javascript:void(0)" class="btn btn-info" onclick="addCondition()"><i class='icon-plus-sign'></i> Add condition</a>
                </div>
            </div>
        </div>             
        <div class="control-group">
            <%= f.label "In the past",:class => "control-label" %>
            <div class="controls">
                <div class="row-fluid">
                    <div class="span2" style="width:90px;">
                        <%= f.text_field :last_days, :class =>"input-xlarge", :style =>"width:70px;", :required => "required" %> 
                    </div>
                    <div class="span2" style="margin-left:0px; padding-top:5px;">
                        <span class="help-inline"> days </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="control-group">
            <%= f.label "Is more than",:class => "control-label" %>
            <div class="controls">
                <div class="row-fluid">
                    <div class="span2" style="width:90px;">
                        <%= f.text_field :total, :class =>"input-xlarge", :style =>"width:70px;", :required => "required" %> 
                    </div>
                    <div class="span2" style="margin-left:0px; padding-top:5px;">
                        <span class="help-inline"> cases </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="control-group">
            <div class="row-fluid">
                <div class="well span6">
                    Send emails to
                    <div class="list">
                        <% @admin.each do |ad| %>
                            <div class="list-item">
                                <span class="input-group-addon">
                                    <input type="checkbox" name="email[]" value="<%= ad.id %>" />
                                </span>
                                <span class="email-label">
                                    <%= ad.email %>
                                </span>  
                            </div> 
                        <% end %>
                    </div>
                </div>
                <div class="well span6">
                    Send text messages to
                    <div class="list">
                        <% @admin.each do |ad| %>
                            <div class="list-item">
                                <span class="input-group-addon">
                                    <input type="checkbox" name="phone[]" value="<%= ad.id %>" />
                                </span>
                                <span class="email-label">
                                    <%= ad.email %> [<%= ad.phone_number %>]
                                </span>  
                            </div> 
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <h4>Messages</h4>
        <br />
        <div class="control-group">
                <%= f.text_area :message, :class =>"input-xlarge span12", :required => "required" %>
        </div>
        <!-- Submit -->
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-success">Save</button>
                <%=link_to "Cancel", alerts_path, :class => "btn" %>
            </div>
        </div>
    </fieldset>

<% end %>
<script type="text/javascript">
    ajaxRequestIndicators(1);
    handleConditionCombo(1); 
</script>