<div class="btn-toolbar">
	<%= link_to "Add New Alert", new_alert_path, :method => :get, :class => 'btn btn-primary to-right' %>    
</div>
<div class="clear"></div>
<br />
<% @alerts.each do |alert| %>
	<div class="well">
		<div class="row-fluid">
			<div class="span11">
				<%= link_to raw('<i class="icon-warning-sign"></i> ' + alert.name ),  edit_alert_path(alert), :method => :get%>
				<br>
				Alert when total of case with <%= alert.full_description %> in the past <%= alert.last_days %> days is more than <%= alert.total %>.
			</div>
			<div class="span1" style="text-align:right;">
				<%= link_to raw("<i class='icon-trash'></i>"), alert_path(alert), :method => :delete, :confirm => "Are you sure to delete alert #{alert.name}?", :class => "btn btn-danger" %>
				    </td>
			</div>
		</div>
	</div>
<% end %>