<!DOCTYPE html>
<html>
	<head>
	  <title>Violent Reporting System</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="hearder_narrow">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</a>
					<a class="brand" href="/" name="top">Sajhedari Bikaas</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="#"><i class="icon-envelope"></i> Map and Messages</a></li>
							<li class="divider-vertical"></li>
							<li class=<%= section_active("reporters")  %>><%= link_to raw('<i class="icon-file"></i> Reporters'), reporters_path, :method => :get, :style => "padding: 10px" %></li>
							<li class="divider-vertical"></li>
							<li><a href="#"><i class="icon-signal"></i> Trend </a></li>
							<li class="divider-vertical"></li>
							<li><a href="#"><i class="icon-bell"></i> Cases Based Alert</a></li>
							<li class="divider-vertical"></li>
							<li><a href="#"><i class="icon-warning-sign"></i> Aggregate Threshold Alert</a></li>
							<li class="divider-vertical"></li>
							<li class=<%= section_active("locations")  %>><%= link_to raw('<i class="icon-map-marker"></i> Location Code'), locations_path, :method => :get, :style => "padding: 10px" %></li>
							<li class="divider-vertical"></li>
							<li class=<%= section_active("users")  %>><%= link_to raw('<i class="icon-user"></i> User'), users_path, :method => :get, :style => "padding: 10px" %></li>
							<li class="divider-vertical"></li>
						</ul>
						<div class="btn-group pull-right">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-user"></i> <%= current_user.first_name || "UNKNOWN" %> <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="icon-wrench"></i> Settings</a></li>
								<li class="divider"></li>
								<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'icon-share' %></li>
							</ul>
						</div>
					</div>
				<!--/.nav-collapse -->
				</div>
			<!--/.container-fluid -->
			</div>
		<!--/.navbar-inner -->
		</div>
		<div class="body-content">
			<center>
				<% if flash[:error] -%>
				    <div class="alert alert-error">
					    <button type="button" class="close" data-dismiss="alert">&times;</button>
					    <%=h flash[:error] %>
				    </div>
				<% end -%>
				<% if flash[:notice] -%>
				  	<div class="alert alert-success">
					    <button type="button" class="close" data-dismiss="alert">&times;</button>
					    <%=h flash[:notice] %>
				    </div>
				<% end -%>
			</center>
			<%= yield %>
			<hr>
			<img src="" />
			<footer>
				Developed by <a href="http://www.ilabsoutheastasia.org/">InSTEDD iLab South East Asia</a>.
			</footer>
		</div>
		
	</body>
</html>
