<!DOCTYPE html>
<html>
	<head>
	  	<title>SMS Violence Reporting System</title>
	  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  	<%= stylesheet_link_tag    "datepicker", media: "all", "data-turbolinks-track" => true %>
	  	<%= javascript_include_tag "bootstrap-datepicker", "data-turbolinks-track" => true %>
	  	<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="hearder_narrow">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</a>
					<a class="brand" href="/" name="top">Sajhedari Bikaas</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><%= link_to raw('<i class="icon-globe"></i> Map'), @rm["url"] + "collections" , :method => :get, :style => "padding: 10px", :rel => "nofollow", :target => "_blank" %></li>
							<li class="divider-vertical"></li>
							<li class=<%= section_active("reporters")  %>><%= link_to raw('<i class="icon-group"></i> Reporters'), reporters_path, :method => :get, :style => "padding: 10px" %></li>
							<li class="divider-vertical"></li>
							<li class=<%= section_active("trends")  %>><%= link_to raw('<i class="icon-signal"></i> Trend'), trends_path, :method => :get, :style => "padding: 10px" %></li>
							<li class="divider-vertical"></li>
							<% if current_user.role.name == "Super Admin" %>
								<li class="dropdown <%= section_active("alerts")  %> ">
									<a class="dropdown-toggle" href="#" data-toggle="dropdown">
										<i class="icon-warning-sign"></i> Alert <strong class="caret"></strong>
									</a>
									<ul class="dropdown-menu">									
											<li><%= link_to raw('<i class="icon-bell"></i> Case Based Alert'), @rm["url"] + "plugin/alerts/collections/" + @rm["collection_id"].to_s + "/thresholds" , :method => :get, :style => "padding: 10px", :rel => "nofollow", :target => "_blank"%></li>										
											<li class=<%= section_active("alerts")  %>><%= link_to raw('<i class="icon-warning-sign"></i> Aggregate Threshold Alert'), alerts_path, :method => :get, :style => "padding: 10px" %>
									</ul>
								</li>
							<% else %>
								<li class=<%= section_active("alerts")  %>><%= link_to raw('<i class="icon-warning-sign"></i> Aggregate Threshold Alert'), alerts_path, :method => :get, :style => "padding: 10px" %>
							<% end %>
							<li class="divider-vertical"></li>
							<li class=<%= section_active("conflict_cases")  %>><%= link_to raw('<i class="icon-comment"></i> Cases Reported'), conflict_cases_path, :method => :get, :style => "padding: 10px" %></li>
						<!--	<li class=<%= section_active("alerts")  %>><%= link_to raw('<i class="icon-warning-sign"></i> Aggregate Threshold Alert'), alerts_path, :method => :get, :style => "padding: 10px" %> </li> -->
							<li class="divider-vertical"></li>
							<li class=<%= section_active("locations")  %>><%= link_to raw('<i class="icon-map-marker"></i> Locations'), locations_path, :method => :get, :style => "padding: 10px" %></li>
							<li class="divider-vertical"></li>
							<li class=<%= section_active("users")  %>><%= link_to raw('<i class="icon-user"></i> Users'), users_path, :method => :get, :style => "padding: 10px" %></li>
							<li class="divider-vertical"></li>
							<li class=<%= section_active("settings")  %>><%= link_to raw('<i class="icon-cog"></i> Settings'), settings_path, :method => :get, :style => "padding: 10px" %></li>
							<li class="divider-vertical"></li>
						</ul>
						
						<div class="btn-group pull-right">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-user"></i> <%= current_user.first_name || "UNKNOWN" %> <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to " Profile", edit_user_path(current_user), :method => :get, :class => 'icon-user' %>
								<li class="divider"></li>
								<li><%= link_to " Change Password", change_password_user_path(current_user), :method => :get, :class => 'icon-cog' %>
								<li class="divider"></li>
								<li><%= link_to " Sign out", destroy_user_session_path, :method => :delete, :class => 'icon-share' %></li>
							</ul>
						</div>
					</div>
				<!--/.nav-collapse -->
				</div>
			<!--/.container-fluid -->
			</div>
		<!--/.navbar-inner -->
		</div>
		<div class="span2" style="text-align:right;">
			<img src="/usaid.jpg" alt="USAID" />
		</div>
		<div class="span10 body-content">
			<center>
				<% if flash[:error] -%>
				    <div class="alert alert-error">
					    <button type="button" class="close" data-dismiss="alert">&times;</button>
					    <%=h flash[:error] %>
				    </div>
				<% end -%>
				<% if flash[:notice] -%>
				  	<div class="alert alert-success">
					    <button type="button" class="close" data-dismiss="alert">&times;</button>
					    <%=h flash[:notice] %>
				    </div>
				<% end -%>
			</center>
			<%= yield %>
			<hr>
			<footer>
				<center>Sajhedari Bikaas Project(ref: AID-367-C-13-00003)</center>
			</footer>
		</div>
		<div class="span2" style="text-align:left;">
			<center>
				<h6 style="text-align:center;">
					<i><font color="red" size="6"> Conflict Reporting System </font></i>
				</h6>
			</center>
		</div>
	</body>
</html>
